body{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}
h1{
    font-size: 100px;
    padding-left: 70px;
    padding-bottom: -50px;
        
}
#hello-highlight{
    color: slategray;
    
}
#name-highlight{
    color: rgba(255, 131, 103, 1);
}
.button{
    border: 10x solid ;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    padding: 10px 30px;
    color: white;
    font-size: 30px;
    background-image: linear-gradient(salmon,tomato);
}
p{
    padding-left: 70px;
    padding-top: -50px;
    font-family: Arial;

}
.half-width{
    width: 40%;
    margin: 1%;
    padding: 2%;
    float: left;
    
}
img{
    width: 100%;
    padding: 0;
    
}
h2{
    color:#363958;
    text-align: left;
    font-size: 50px;
}
#pic.2{
    align:left;
}
#size{
    font-size: 40px;
    text-align: center;
    padding-left: 100px;
    width: 100%;
    overflow: hidden;
}
#color-red{
    color: tomato;
}
#color-blue{
    color: black;
}
#background{
    background-image: linear-gradient(solid, gray);
    align: center;
    color: gainsboro;
    padding-right:300px ;
    
   
}
.box{
    color: rgba(54, 57, 88, 1);
    font-size: 24px;
}
.box-p{
    color: rgba(108, 108, 108, 1);
    font-size: 16px;
    font-family: roboto;
}
.box-shadow{
    width: 20%;
    float:right ;
    box-shadow:2px 4px 5px gray;
    height: 70%;
    border-radius: 20px;
    
}
#work{
    background-size: 45%;
    position: center;
}
.container {
    position: relative;
    text-align: center;
    color: white;}
.bottom-left{
   position: absolute;
   bottom: 8px;
   left: 16px;}
.stay{
    color: gray;
    text-align: center;
    font-size: 24PX;
}
.stay-2{
    font-family: fantasy;
    color: black;
    text-align: center;
}
.icon{
    float: left;
    background-size: 10px;
    width: 40px;
    padding-right: 10px;
}